.titleOfShopContainer {
  display: flex;
  column-gap: 15px;

  .logoImg {
    height: 46px;
    width: 46px;
    flex-shrink: 0;
    object-fit: cover;
  }

  .rightBlock {
    display: flex;
    flex-direction: column;
    row-gap: 5px;

    .mainTitle {
      font-size: 24px;
      letter-spacing: 1px;
    }

    .title {
      font-size: 14px;
    }
  }
}
