.websiteCustomerPreviewContainer {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 270px;
  height: min-content;

  .phone {
    width: 100%;
    opacity: 0;
  }

  .phone2 {
    position: absolute;
    z-index: 100;
    width: 100%;
  }

  .content {
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: 80;

    display: flex;
    width: 100%;
    overflow-y: auto;
    height: 100%;
    border-radius: 13.9%;
    background: green;
  }
}
