.websiteCustomerPreviewContainer {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 260px;
  height: 536px;

  overflow: hidden;
  border-bottom-right-radius: 38px;

  .phone {
    width: 100%;
    opacity: 0;
  }

  .phone2 {
    position: absolute;
    z-index: 100;
    width: 100%;
    pointer-events: none;
  }

  .content {
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: 80;
    padding-top: 37px;
    display: flex;
    width: 100%;
    padding-left: 5px;
    border-radius: 13.9%;
    flex-direction: column;

    iframe {

      border: none;
      width: 464px;
      height: 810px;
      transform: scale(0.534);
      pointer-events: painted;
      transform-origin: top left;
    }
  }

  .container {

    display: flex;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(to bottom, rgba(205, 235, 255, 0.15), rgba(250, 255, 255, 0.3));
    width: 100%;
  }
}
