.viberMessagePreviewContainer {
  position: relative;
  width: 260px;
  height: 536px;

  .phone {
    width: 100%;
  }

  .message {
    position: absolute;
    left: 0px;
    top: 58px;
    padding: 10px;
    display: flex;
    width: 98.1%;
    overflow-y: auto;
    scrollbar-width: none;
    height: 76%;
    padding-top: 14px;

    &::-webkit-scrollbar {
      display: none; /* Chrome, Safari */
    }

    .circleImage {
      width: 30px;
      height: min-content;
      margin-right: 5px;
    }

    .textBlock {
      background-color: #efefef;
      width: 92%;
      min-width: 30px;
      height: min-content;
      min-height: 100px;
      border-radius: 0 10px 10px 10px;
      position: relative;
      font-size: 11px;

      .text {

        padding: 5px 5px 12px 5px;
      }

      .time {
        position: absolute;
        bottom: 3px;
        right: 8px;
        color: #575757;
        font-size: 8px;
      }
    }

    .productImage {
      width: 100%;
      height: auto;
      margin-top: 5px;
    }

    .buttonContainer {
      width: 100%;
      display: flex;
      justify-content: center;
      padding-top: 5px;

      .actionBtn {
        width: 80%;
        background: blue;
        color: white;
        border: none;
        padding: 5px;
        font-size: 9px;
        font-weight: bolder;
        border-radius: 10px;
      }
    }
  }
}
