.container {
  display: flex;
  flex-direction: row;

  .left {
    display: flex;
    flex-direction: column;
    width: 40%;

    .titleOfSubPageBlock {
      display: flex;
      column-gap: 10px;
      align-items: center;
      margin-bottom: 5px;

      .title {
        font-size: 25px;
        color: #770098;
        text-shadow: 0px 1px 1px #c0c0c0;
        font-family: "Inter", sans-serif;
      }

      .iconOfShopAndEdit {
        font-size: 25px;
        color: #6f0070;
      }
    }


    .formAddAndEdit {
      max-width: 500px;
      width: 100%;
      display: flex;
      flex-direction: column;
    }

    .blockForPages {
      display: flex;
      max-width: 500px;
      width: 100%;
      flex-direction: column;
      row-gap: 5px;
    }

    .blockForBtn {
      max-width: 500px;
      width: 100%;
      padding: 10px 0;

      .btnSave {
        padding: 7px 20px;
        background-color: #1a7e00;
        color: #ffffff;
        border-radius: 5px;
        font-family: "Inter", sans-serif;
        font-size: 14px;
        display: flex;
        align-items: center;
        justify-content: center;
        border: none;
        transition: 250ms ease;

        &:hover:not(:disabled) {
          cursor: pointer;
          background-color: #135d00;
        }

        &:disabled {
          cursor: progress;
          background-color: #445e3f;
        }
      }
    }
  }

  .right {
    display: flex;
    width: 25%;
    flex-direction: column;
    padding-left: 40px;
  }
}

.titleIForm {
  color: #646464;
  text-decoration: underline;
  font-family: "Inter", sans-serif;
  font-size: 14px;
  letter-spacing: 1px;
  margin: 10px 0 5px 0;
}

.contentInBlock {
  padding: 5px 8px;
  color: #470162;
  background-color: #e1e1e1;
  border-radius: 5px;
  border: 1px solid #690191;
  font-family: "Inter", sans-serif;
  font-size: 15px;
  transition: 250ms ease;

  &:hover {
    cursor: not-allowed;
    background-color: #690191;
    color: white;
  }
}

.input {
  border-radius: 5px;
  margin: 5px 0;
  padding: 5px 8px;
  color: #470162;
  font-family: "Inter", sans-serif;
  background-color: white;
  border: 1px solid #690191;
  font-size: 15px;
}
