.manualDispatchContentContainer {
  padding: 1px 0px;
  position: relative;
  border-radius: 10px;

  .blockForTitle {
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    row-gap: 4px;
    width: 100%;
    margin-bottom: 8px;
    background-color: rgba(238, 238, 238, 0.4);
    padding: 8px 15px;


    .title {
      font-size: 17px;

      .titleOfItem {
        font-size: 11px;
      }

      .value {
        font-size: 11px;
      }
    }

    .information {
      display: flex;
      justify-content: space-between;

      .describe {
        font-size: 12px;
        display: flex;
        width: 65%;
        text-align: justify;
      }

      .btnKeep {
        background: rgba(255, 255, 255, 0.17);
        font-weight: bolder;
        padding: 4px 8px;
        transition: 250ms ease;
        color: #00348f;
        text-shadow: 0px 0px 1px rgba(210, 210, 210, 0.64);
        box-shadow: 0px 0px 2px 1px rgba(98, 99, 171, 0.29);
        border-radius: 10px;
        border: 2px inset #1e4494;
        font-size: 9px;
        width: 140px;
        height: 40px;

        &:hover {
          cursor: pointer;
          font-size: 9.4px;
        }
      }
    }
  }

  .containerForLoad {
    display: flex;
    width: 100%;
    flex-direction: column;
    padding: 5px 15px;
  }

  .containerForTextarea {
    display: flex;
    margin-top: 10px;
    flex-direction: column;
    padding: 5px 15px;
    row-gap: 8px;

    .title {
      font-size: 16px;
      font-weight: bold;
    }

    .textareaStyle {
      resize: none;
      height: 200px;
      border-radius: 10px;
      padding: 5px 15px;
      border: 1px solid gainsboro;
      font-size: 14px;
    }
  }
}


.memorySpan {
  font-size: 12px;
  margin: 8px 5px;
}
