.topForFiltersContainer {
  background-color: #f8f8f8;
  padding: 10px 20px 10px 10px;
  display: flex;
  justify-content: space-between;
  border-radius: 10px;
  box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.08);
position: relative;
  z-index: 2000;
  width: 100%;
  .blockForContent {
    display: flex;
    flex-direction: column;
    row-gap: 5px;
    .titleUsers {

    }

    .contentUsers {
      width: max-content;

    }
  }
  .filters{
    width: 100%;
    display: flex;
    gap:10px;
    justify-content: flex-end;
    align-content: flex-end;align-items: flex-end;
  }
}
.filterSelect{
  width: 240px;
}

