.topForFiltersContainer {
  background-color: #e8e8e8;
  padding: 5px;
  display: flex;
  justify-content: space-between;
  border-radius: 10px;

  width: 100%;
  .blockForContent {
    display: flex;
    flex-direction: column;
    row-gap: 5px;
 width: 100%;
    .titleUsers {

    }

    .contentUsers {
      width: max-content;

    }
  }
  .filters{
    width: 100%;
    display: flex;
    gap:10px;
    justify-content: flex-end;
    align-content: flex-end;align-items: flex-end;
  }
}
