.panelTitleContainer {
  display: flex;
  justify-content: space-between;
  padding: 15px 20px;
  border-bottom: 1px solid #e4e4e4;
  width: 100%;

  .blockForTitle {
    display: flex;
    flex-direction: column;

    .title {
      font-size: 25px;
      margin: 0;
    }

    .subTitle {
      font-size: 15px;
      color: #606060;
      margin: 0;
      font-weight: normal;
    }
  }
}

.btnStyle {
  border: none;
  border-radius: 10px;
  background-color: #2A6CFD;
  color: white;
  padding: 2px 40px;
  height: 45px;
  font-size: 13px;
  text-shadow: 0px 0px 1px #e5e5e5;
  display: flex;
  justify-content: center;
  column-gap: 8px;
  align-items: center;
  transition: 150ms ease;
  font-weight: bold;
  box-shadow: 0px 0px 4px 1px rgba(211, 211, 211, 0.66), 0px 0px 5px 2px inset #3e78fa;

  &:hover {
    cursor: pointer;
    background-color: #1b60f8;
  }
}
