.panelTitleContainer {
  display: flex;
  justify-content: space-between;
  padding-bottom: 15px;
  margin-bottom: 15px;
  border-bottom: 1px solid #e4e4e4;
  width: 100%;
  padding-left: 15px;

  .blockForTitle {
    display: flex;
    flex-direction: column;

    .title {
      font-size: 25px;
      margin: 0;
    }

    .subTitle {
      font-size: 15px;
      color: #606060;
      margin: 0;
      font-weight: normal;
    }
  }
}

.btnStyle {
  background-color: #5c0073;
}
