.pageFilterChooseStarsContainer {
  width: 100%;
}
.buttonAnimation{
 position: relative;
  .animation{
    top: 100%;

  left:20%;
    width: 100px;
    position: absolute;
  }
}
.reactionDiv{
  max-height: 100px;
  height: 100%;
  display: flex;
  justify-content: center;
  pointer-events: none;
  .reaction{
    height: 150px;
    &.r3{
      position: relative;
      top:3px;
    }
    &.r1{
      transform: scaleX(-1);
    }
  }
}
