.ordersTableTopPanelContainer {
  display: flex;
  gap: 10px;
  align-content: flex-end;
  background-color: rgba(238, 238, 238, 0.45);
  padding: 10px 15px;
  border-radius: 10px;
  margin-bottom: 15px;

  .title {
    flex-grow: 10;
  }

  p {
    margin-top: 2px;
  }

  .controls {
    height: 30px;
    display: flex;
    gap: 10px;
  }

  .sendFast {


    border: none;
    border-radius: 10px;
    background-color: #2A6CFD;
    color: white;
    padding: 2px 20px;
    height: 30px;
    font-size: 13px;
    text-shadow: 0px 0px 1px #e5e5e5;
    display: flex;
    justify-content: center;
    column-gap: 8px;
    align-items: center;
    transition: 150ms ease;
    font-weight: normal;

    &:hover:not(&:disabled) {
      cursor: pointer;
      background-color: #1b60f8;
    }

    &:not(&:disabled) {
      box-shadow: 0px 0px 4px 1px rgba(211, 211, 211, 0.66), 0px 0px 5px 2px inset #3e78fa;

    }

    &:disabled {
      background-color: #8a8a8a;

    }
  }

  padding-bottom: 10px;
}
