.statisticsContainer {
  width: 100%;
  display: flex;
  flex-direction: column;

  display: grid;
  grid-template-areas:
    "header header header header header"
    "stats1 stats1 stats2 stats2 stats2"
    "content content content footer footer";
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: auto auto auto;
  gap: 10px;

  .selectMarketplace {
    grid-area: header;
    text-align: right;
  }

  .stats1 {
    grid-area: stats1;
  }

  .stats2 {
    grid-area: stats2;
  }
}
