.statisticsContainer {
  width: 100%;

  flex-direction: column;
  display: grid;
  grid-template-areas:
    "header header header header"
    "blockStats blockStats blockStats blockStats"
    "stats1 stats1 stats1 stats2"
    "stats1 stats1 stats1 stats3";
  grid-template-columns: 1fr 1fr 1fr 410px;
  grid-template-rows: auto auto auto auto;
  gap: 10px;

  .selectMarketplace {
    grid-area: header;
    text-align: left;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    width: 100%;

  }
.blockStats{
  grid-area: blockStats;


}
  .stats1 {
    grid-area: stats1;
    height: 300px;
  }

  .stats2 {
    flex-shrink: 0;
    grid-area: stats2;
    height: 240px;
  }

  .stats3 {
    flex-shrink: 0;
    grid-area: stats3;
    height: 240px;
  }
}
