.statisticsContainer {
  width: 100%;

  flex-direction: column;

  display: grid;
  grid-template-areas:
    "header header header header header"
    "stats1 stats1 stats1 stats2 stats3"
    "stats1 stats1 stats1  stats2 stats3";
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: auto auto;
  gap: 10px;

  .selectMarketplace {
    grid-area: header;
    text-align: right;
  }

  .stats1 {
    grid-area: stats1;
    height: 300px;
  }

  .stats2 {
    grid-area: stats2;
    height: 300px;
  }

  .stats3 {
    grid-area: stats3;
    height: 300px;
  }
}
