.mainContainer {
  position: relative;

  &.disabled .etapContainer {
    background: linear-gradient(to right, rgb(223, 223, 223), #989898);
  }

  .etapContainer {
    background: linear-gradient(135deg, #b8e89c, #94db4d, #7fc874);
    //background-color: #adadad;
    padding: 6px;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 0px 2px 0px #818181;
    z-index: 500;
    position: relative;

    img {
      width: 26px;
      height: 26px;
    }
  }

  &.image .etapContainer {
    padding: 0 !important;
  }

  &.disabled.image {
    img {
      filter: grayscale(1);
    }
  }

  .afterDiv {
    position: absolute;
    background-color: rgba(187, 187, 187, 0.69);
    //background-color: #adadad;
    height: 2px;
    width: 12px;
    bottom: 12px;
    right: -8px;
    z-index: 250;


  }

  &:last-of-type {
    .afterDiv {

      display: none;
    }
  }
}
