.tableThContainer {
  cursor: pointer;

  .container {
    display: flex;
    align-items: center;

    .icons {
      width: 22px;
      height: 13px;
      padding-left: 5px;

      & > svg {

        font-size: 14px;
      }

      div {
        display: flex;
        font-size: 17px;
      }
    }
  }
}

.title {
  word-break: keep-all;
  white-space: nowrap;
}
