.inputWithIconContainer {
  position: relative;
  box-shadow: 0 1px 1px 1px rgba(192, 192, 192, 0.51);
  border-radius: 5px;

  .input {
    border-radius: 5px;
    height: 30px;
    width: 200px;
    padding-left: 40px;
    position: relative;
    z-index: 9;
    border: none;
    background: rgba(255, 255, 255, 0.83);
  }

  svg {
    position: absolute;
    left: 10px;
    top: 7px;
    color: #a6a6a6;
    z-index: 10;
  }
}
