.trendIndicatorContainer {
  background: #d5d5ff;
  white-space: nowrap;
  width: min-content;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 3px 7px;
  font-size: 12px;
  border-radius: 10px;
  color: #001a9f;
  gap: 3px;
}
