.block {
  display: flex;
  column-gap: 15px;
  align-items: center;
  margin-top: 10px;

  .blockForIc {
    width: 50px;
    height: 50px;
    background-color: rgb(250, 250, 250);
    box-shadow: 0px 0px 1px 1px #dedede;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    position: relative;
    overflow: hidden;

    .inputFile {
      width: 50px;
      height: 50px;
      position: absolute;
      z-index: 10;
      cursor: pointer;
      left: 0;
      top: 0;
      opacity: 0;
    }

    .inputFilePreviewImage {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }


    .icStyle {
      pointer-events: none;
      font-size: 24px;
      color: #3f3f3f;
    }
  }

  .blockForContent {
    display: flex;
    flex-direction: column;

    .blockForTitleAndDelete {
      display: flex;
      column-gap: 4px;
      align-items: center;

      .title {
        font-weight: bold;
        font-size: 14px;
      }

      .deleteButton {
        background: transparent;
        border: none;
        transition: 150ms ease;
        font-size: 14px;
        color: #939393;

        &:hover {
          cursor: pointer;
          color: #4f4f4f;
        }
      }
    }

    .describe {
      font-size: 14px;
    }
  }
}
