.rozetkaPartContainer {
  display: flex;
  flex-direction: column;
  row-gap: 4px;

  .title {
    display: flex;
    gap:10px;
    font-size: 11px;
    font-family: Montserrat, sans-serif;
  }

  .comment {
    font-family: Montserrat, sans-serif;
    font-size: 14px;

    .quotesLeft, .quotesRight {
      font-size: 7px;
      position: relative;
      color: #00406b;
    }

    .quotesLeft {
      left: -2px;
      bottom: -2px;
    }

    .quotesRight {
      right: -4px;
      top: -5px;
    }
  }
}
.review {
  &.r1 {
    color: #790000;
  }

  &.r2 {
    color: #e30c0c;
  }

  &.r3 {
    color: #d9d008;
  }

  &.r4 {
    color: #2d860f;
  }

  &.r5 {
    color: #42d311;
  }
}
