.blockOfShop {
  background: linear-gradient(to bottom, rgba(120, 200, 209, 0.1) 0%, rgba(255, 255, 255, 0.8) 100%);
  width: calc(33.3333% - 20px);
  padding: 20px 25px;
  border-radius: 10px;
  row-gap: 10px;
  display: flex;
  flex-direction: column;
  box-shadow: 0px 0px 4px 2px rgba(196, 196, 196, 0.36);

  .top {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;

    .container {
      display: flex;
      width: 100%;
      justify-content: space-between;
      gap: 10px;

      .blockForImg {
        background-color: white;
        padding: 5px;
        display: flex;
        box-shadow: 0px 0px 1px 1px rgba(201, 201, 201, 0.66);
        justify-content: center;
        align-content: center;
        width: 45px;
        height: 45px;
        border-radius: 4px;
        flex-shrink: 0;

        .imageStyle {
          width: 28px;
          height: 28px;
          flex-shrink: 0;
        }
      }

      .blockForTitle {
        display: flex;
        flex-direction: column;
        width: 100%;
        align-items: start;
        row-gap: 5px;

        .mainTitle {
          font-size: 16px;
        }

        .titleStore {
          font-size: 12px;
          color: #484848FF;
        }
      }
    }

    .blockForDeleteAndToggle {
      display: flex;
      align-items: center;
      column-gap: 5px;

      .deleteIc {
        color: rgba(154, 154, 154, 0.82);
        font-size: 24px;
        filter: drop-shadow(1px 0px 1px rgba(224, 224, 224, 0.5));

        &:hover {
          cursor: pointer;
          transition: 250ms ease;
          color: rgba(124, 124, 124, 0.82);
        }
      }
    }
  }

  .blockForContantAndStatistic {
    display: flex;
    margin-bottom: 20px;

    .describe {
      font-size: 13px;
      line-height: 1.2;
      color: #171717;
      margin-bottom: 10px;
      width: 60%;
    }

    .blockForStatistic {
      display: flex;
      flex-direction: column;
      width: 40%;
      align-content: flex-start;
      row-gap: 5px;

      span {
        font-weight: bold;
        font-size: 11px;
        color: #323233;
      }
    }
  }


  .blockForBtn {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    .btnSettings {
      background: linear-gradient(to bottom, #ffffff, #f8f9fa);
      width: 80%;
      padding: 8px 8px;
      border: none;
      display: flex;
      justify-content: center;
      align-items: center;
      column-gap: 15px;
      color: #484848;
      font-size: 14px;
      border-radius: 8px;
      box-shadow: 1px 1px 2px 1px rgba(112, 112, 112, 0.25);

      &:hover {
        cursor: pointer;
        background: linear-gradient(to bottom, #ffffff, rgba(197, 197, 197, 0.23));
      }

      .arrowIc {
        color: #484848FF;
        font-size: 14px;
      }
    }
  }
}

.iconHeart {
  position: absolute;
  top: -6px;
  left: -1px;
  font-size: 13px;
  color: #00245d;
}
