.blockOfIconsContainer {
  display: flex;
  column-gap: 15px;
  align-items: center;
  position: relative;

  .iconStyle {
    font-size: 20px;
  }

  .blockForReviews {
    display: flex;
    column-gap: 4px;

    .review {
      &.r1 {
        color: #790000;
      }

      &.r2 {
        color: #e30c0c;
      }

      &.r3 {
        color: #d9d008;
      }

      &.r4 {
        color: #2d860f;
      }

      &.r5 {
        color: #42d311;
      }
    }
  }

  .arrowBottom {
    position: absolute;
    font-size: 18px;
    right: 0;
    transition: scale 125ms ease ,transform 300ms ease-in-out;
&.rotate{
  transform: rotate(-180deg);
}
    &:hover {
      cursor: pointer;
      scale: 1.1;
    }
  }
}
