.blockOfIconsContainer {
  display: flex;
  column-gap: 15px;
  align-items: center;

  .iconStyle {
    font-size: 20px;
  }

  .blockForReviews {
    display: flex;
    column-gap: 4px;

    .review {
      color: #42d311;

      &.r1 {
        color: #790000;
      }

      &.r2 {
        color: #e30c0c;
      }

      &.r3 {
        color: #d9d008;
      }

      &.r4 {
        color: #2d860f;
      }

      &.r5 {
        color: #42d311;
      }
    }
  }
}
