.containerForTemplateOfMessage {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 700px;
  row-gap: 15px;
  
  .blockForLoad {
    width: 100%;
    display: flex;
    column-gap: 15px;
    justify-content: space-between;
  }
}
