.containerForTemplateOfMessage {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 800px;
  row-gap: 15px;

  .blockForLoad {
    width: 100%;
    display: flex;
    column-gap: 15px;
    justify-content: space-between;
  }
}

.horizontalContainer {
  display: flex;
  gap: 50px;

  .ViberMessagePreview {
    padding-top: 50px;
  }
}
