.containerForTemplateOfMessage {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 1000px;
  row-gap: 15px;

  .blockForLoad {
    width: 100%;
    display: flex;
    column-gap: 15px;
    justify-content: space-between;
  }
}

.horizontalContainer {
  display: flex;
  gap: 50px;

  .ViberMessagePreview {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    padding-top: 80px;
    padding-left: 80px;
    height: min-content;
  }
}
