.statisticRatingCharContainer {
  display: flex;
  flex-direction: column;
  gap: 10px;
  height: 100%;

  .text {
    display: flex;
    gap: 7px;
    font-size: 24px;
    font-weight: bolder;
  }

  .container {
    display: flex;
    justify-content: space-between;
    flex-grow: 100;

    .left {
      display: flex;
      flex-direction: column;
    }

    .legend {
      display: flex;
      justify-content: center;
      flex-direction: column;
      gap: 30px;
      row-gap: 5px;
      padding-right: 10px;
      flex-wrap: wrap;

      span {
        word-break: keep-all;
        display: flex;
        gap: 7px;
        align-items: center;
      }
    }
  }

}
