.mainInformationsContainer {
  box-shadow: 0px 0px 1px 1px #d7d7d7;
  background: linear-gradient(to left, rgba(228, 242, 253, 0.29), rgba(162, 200, 249, 0.15));
  border-radius: 15px;
  display: flex;
  justify-content: space-between;
  padding: 10px;
  align-items: stretch;

  .leftBlock {
    display: flex;
    flex-direction: column;
    padding: 5px;
  }

  aside {
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    align-content: stretch;
    row-gap: 15px;
    border: 1px solid rgba(213, 213, 213, 0.49);
    padding: 10px 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 1px inset rgba(215, 224, 236, 0.51);

    .block {
      display: flex;
      column-gap: 10px;
      align-items: center;
      justify-content: flex-start;
      height: 33.333%;
      border: none;
      color: black;
      background: transparent;

      .icStyle {
        font-size: 17px;
      }

      .icDelete {
        font-size: 20px;
        margin-left: -5.5px;
        color: #ef0202;
      }

      .deleteSpan {
        color: #e10000;
        transition: 250ms ease;

        &:hover {
          cursor: pointer;
          color: #e00808;
          text-shadow: 0px 0px 1px rgba(194, 0, 0, 0.75);
        }
      }

      span {
        font-size: 15px;
        transition: 250ms ease;

        &:hover {
          cursor: pointer;
          color: #1c1c1c;
          text-shadow: 0px 0px 1px rgba(66, 66, 66, 0.75);
        }
      }

      .link {
        text-decoration: underline;
        color: black;
      }

      &.blockForAfter {
        position: relative;
        width: 100%;
        display: flex;

        &:after {
          content: "";
          display: flex;
          width: 100%;
          height: 1px;
          border-bottom: 1px solid rgba(211, 211, 211, 0.49);
          position: absolute;
          bottom: -8px;
          
        }
      }
    }
  }
}
