.ql-editor .ql-align-center {
  text-align: center;
  min-height: 10px;
}
.ql-editor ol li {
  list-style-type: initial !important;
  padding-left: 0em !important;
}
.ql-editor ol li {
  list-style-type: decimal !important;
  padding-left: 0em !important;
}

.ql-editor
{
  height: auto;
}
.styleOfToggle .react-toggle-track {
  background-color: #c4c4c4;
}

.MuiInputBase-input.MuiOutlinedInput-input.MuiInputBase-inputAdornedEnd {
  padding-top: 0;
  padding-bottom: 0;
  padding-left: 10px !important;
}

.no-scroll {
  overflow: hidden !important;
}

.styleOfToggle .react-toggle-track {
  background-color: #c4c4c4 !important;
}

.styleOfToggle .react-toggle-thumb {
  border-color: #000081 !important;
}

.styleOfToggle:hover .react-toggle-track, .styleOfToggle.react-toggle-track {
  background-color: #b7b7b7 !important;
}

.styleOfToggle.react-toggle--checked:hover .react-toggle-track, .styleOfToggle.react-toggle-track {
  background-color: #c0c0c0 !important;
}


.styleOfToggle:hover:not(.react-toggle--disabled) .react-toggle-track {
  background-color: #c9c9c9 !important;
}

.styleOfToggle.react-toggle--checked:not(.react-toggle--disabled) .react-toggle-track {
  background-color: #83a8e7 !important;
}

.styleOfToggle.react-toggle--checked:hover:not(.react-toggle--disabled) .react-toggle-track {
  background-color: #7194d0 !important;
}

a {
  text-decoration: none;
}


body {
  .react-confirm-alert-blur {
    filter: url(#gaussian-blur);
    filter: blur(1px);
    -webkit-filter: blur(1px);
  }

  .react-confirm-alert-overlay {
    background: rgba(255, 255, 255, 0.2);
    z-index: 40000;
  }

  .react-confirm-alert-body {
    h1 {
      font-size: 22px;
      padding-bottom: 10px;
      color: #5d5f67;
    }
  }

  .react-confirm-alert-button-group {
    button {
      background: #4646f1;
      font-weight: bolder;
      padding: 7px 30px;
      transition: 250ms ease;

      &:hover {
        cursor: pointer;
        background: #3a3ad9;
      }
    }
  }
}
