.container {
  background-color: #0b8fea;
  width: 100vw;
  height: 100vh;
  position: relative;
  display: flex;
  justify-content: space-between;

  .left {
    width: 50%;
  }

  .right {
    width: 50%;
    background-color: white;
    padding: 25px 50px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;


    .title {
      color: #0b8fea;
      margin-bottom: 25px;
      font-size: 25px;
      text-align: center;
    }

    .description {
      color: #525252;
      margin-bottom: 40px;
      font-size: 15px;
      text-align: center;
    }

    .formLogIn {
      display: flex;
      flex-direction: column;
      row-gap: 20px;

      input {
        padding: 8px 25px;
        width: 280px;
        font-size: 15px;
        background-color: #eeeeee;
        border: none;
        border-left: 4px solid #0b8fea;
        border-radius: 0px 2px 2px 0px;
      }

      button {
        background-color: #0b8fea;
        color: white;
        padding: 8px 15px;
        border-radius: 5px;
        border: none;
        margin-top: 15px;
        font-weight: bold;

        &:hover {
          cursor: pointer;
          background-color: #0679c9;
        }
      }
    }
  }
}
