.listBlockContainer {
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  box-shadow: 0 0 3px 1px $primaryColor;
  background: white;
  position: relative;
  padding: 4px;

  .listContainer {
    background-color: $fifeColor;
    min-height: 30px;;
    padding: 20px;
    border-radius: 10px 10px 0 0;
  }
}
