.opinionsSelectDataRangeContainer {

}
.ordersTableTopPanelDatesRangeContainer{
  background-color: white;
  height: min-content;
  border-radius: 5px;
  width: 170px;
  &>div{
    height: 38px;
  }
}
