.unfoldedCardContainer {

  max-width: 380px;
  width: 100%;
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  background-color: #f1f1f1;
  border-radius: 0px 0px 15px 15px;
  box-shadow: 0px 3px 5px 0px rgba(96, 96, 96, 0.26);
  position: absolute;
  top: calc(100% - 2px);
  z-index: 1300;

    height: 0;
    overflow: hidden;
    transition: height .1s ease-in-out;
  .container{
    display: flex;
    flex-direction: column;
    row-gap: 10px;
  }
&>div{
  padding: 10px 20px;
}

}
.title {
  font-size: 11px;
  font-family: Montserrat, sans-serif;
}
.comment {
  font-family: Montserrat, sans-serif;
  font-size: 14px;

  .quotesLeft, .quotesRight {
    font-size: 7px;
    position: relative;
    color: #00406b;
  }

  .quotesLeft {
    left: -2px;
    bottom: -2px;
  }

  .quotesRight {
    right: -4px;
    top: -5px;
  }
}
.block {
  display: flex;
  flex-direction: column;
}

